
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  header{
    width: 100%;
    background-color: #194381;
    color: #FFF !important;
  }
  header > h2{
    display: none;
  }

  #nav > h2{
    padding: 10px;
  }
  #nav a{
    text-decoration: none;
    outline: 0;
    color: inherit;;
  }
  #nav > ul,
  #nav{
    display: flex;
  }
  #nav{
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    transition: left .15s linear;
  }
  #nav ul{
    list-style: none;
  }
  #nav > ul > li{
    display: block;
    padding: 15px;
    position: relative;
  }
  #nav > ul > li:hover{
    cursor: pointer;
  }
  
  #nav,
  #nav > ul,
  #nav .sub-menu ul,
  #nav .sub-menu{
    background-color: inherit;
  }
  
  #nav > ul > li:before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    z-index: 2;
    display: block;
    width: 0%;
    height: 1px;
    background-color: #FFF;
    transition: width .3s ease-out;
  }
  #nav > ul > li:hover:before{
    width: 50%;
  }
  #nav .sub-menu ul{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    width: 100%;
    left: 0;
    padding: 20px 10px 10px 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  #nav > ul > li:hover ul{
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-out;
    z-index: 1;
  }
  #nav > ul > li:hover,
  #nav > ul > li:hover ul{
    background-color: #17396b;
  }
  
  #nav .sub-menu ul a{
    display: block;
    padding: 5px 10px;
    color: initial;
    font-size: 14px;
    color: inherit;
  }
  
  #nav .sub-menu ul > li:hover a{
    font-weight: bold;
  }
  #btn-menu i{
    background-color: #FFF !important;
  }

/* Responsive */
@media screen AND (max-width:586px){
  
    
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      text-align: center;
    }
    header > h2{
      display: block;
    }
   
    #nav{
      position: fixed;
      /* left: -100%; */
      top: 0;
      height: 100%;
      width: 50%;
      text-align: left;
      z-index: 2;
    }
    #nav > h2{
      position: relative;
      background-color: #17396b;
      padding-bottom: 17px;
      margin-bottom: 15px;
    }
    #nav > ul > li{
      font-size: 17px;
      padding: 8px 15px;
    }
    #nav > ul > li:hover:before{
      width: 0;
    }
    #nav > h2:after{
      content: "";
      margin-top: 8px;
      display: block;
      width: 60px;
      height: 1px;
      background-color: #FFF;
    }
    #nav,
    #nav ul{
      display: block;
    }
    #nav .sub-menu{
      font-weight: bold;
      font-size: 15px;
    }
    #nav .sub-menu ul{
      position: relative;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      padding: 0;
      font-weight: 500;
    }
  }
  
  @media screen AND (max-width:400px){
    #nav{
      width: 60%;
    }
  }
  @media screen AND (max-width:300px){
    #nav{
      width: 90%;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  